*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 234, 242);
}

.inner-container {
    width: 35%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
}

.banner-img {
    width: max-content;
}

.summary-container{
    margin-left: 30px;
    padding: 20px 40px;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.summary-container h1 {
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.summary-container p {
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 65px;
    padding: 20px 40px;
    background-color: rgb(206, 231, 227);
    border-radius: 15px;

}

.plan-container-left {
    display: flex;
    margin-right: 30px;
}

.plan-container a {
   padding-top: 20px;
   color: rgb(87, 95, 214);
   
}

.proceed-button {
    
}

