*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 234, 242);
}

.container {
    width: 35%;
    margin: auto;
    /* border: 1px solid gray; */
    border-radius: 15px;
    margin-top: 30px;
    background-color: white;
}

.banner-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.summary-container{
    margin-left: 30px;
    padding: 20px 40px;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.summary-container h1 {
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.summary-container p {
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 65px;
    padding: 20px 40px;
    background-color: rgb(206, 231, 227);
    border-radius: 15px;

}

.plan-container-left {
    display: flex;
    margin-right: 30px;
}

.plan-container a {
   padding-top: 20px;
   color: rgb(87, 95, 214);
   border: none;
   
}

.proceed-button{
    padding: 0px 50px 0px 0px;
}
.proceed-button button {
    padding: 10px;
    margin: 20px 40px 20px 60px;
    width: 83%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(87, 95, 214);
    box-sizing: border-box;
    box-shadow: inset;

}

.cancel-button {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
}

.cancel-button a {
    justify-content: center;
    text-decoration: none;
    align-items: center;
    
}

